@using AccountingSystems.Web.Startup
@{
    ViewBag.CurrentPageName = PageNames.SalesReport; // The menu item will be active for this page.
}

    <div class="row clearfix">
        <div class="block-header align-center">
            <h1>Sales Report</h1>
        </div>
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-3">
                <a href="#" type="button" class="btn btn-block btn-lg btn-default waves-effect" style="word-wrap:break-word; white-space:normal; height:80px; font-size:16px;">Sales per Salesman per Supplier</a>
            </div>
            <div class="col-md-3">
                <a href="#" type="button" class="btn btn-block btn-lg btn-default waves-effect" style="word-wrap:break-word; white-space:normal; height:80px; font-size:16px;">Sales Summary per SKU per Supplier</a>
            </div>
            <div class="col-md-3">
                <a href="#" type="button" class="btn btn-block btn-lg btn-default waves-effect" style="word-wrap:break-word; white-space:normal; height:80px; font-size:16px;">Sales Summary per SKU per Supplier per Salesman</a>
            </div>
            <div class="col-md-3">
                <a href="#" type="button" class="btn btn-block btn-lg btn-default waves-effect" style="word-wrap:break-word; white-space:normal; height:80px; font-size:16px;">Sales Summary per SKU per Supplier per Customer</a>
            </div>
        </div>
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-3">
                <a href="#" type="button" class="btn btn-block btn-lg btn-default waves-effect" style="word-wrap:break-word; white-space:normal; height:80px; font-size:16px;">Sales Contribution per Area per Supplier per Salesman</a>
            </div>
            <div class="col-md-3">
                <a href="#" type="button" class="btn btn-block btn-lg btn-default waves-effect" style="word-wrap:break-word; white-space:normal; height:80px; font-size:16px;">Sales per Area per Supplier per Salesman</a>
            </div>
            <div class="col-md-3">
                <a href="#" type="button" class="btn btn-block btn-lg btn-default waves-effect" style="word-wrap:break-word; white-space:normal; height:80px; font-size:16px;">TOP Account per Salesman per Supplier</a>
            </div>
            <div class="col-md-3">
                <a href="#" type="button" class="btn btn-block btn-lg btn-default waves-effect" style="word-wrap:break-word; white-space:normal; height:80px; font-size:16px;">Productive Accounts per Salesman per Area</a>
            </div>
        </div>
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-3">
                <a href="#" type="button" class="btn btn-block btn-lg btn-default waves-effect" style="word-wrap:break-word; white-space:normal; height:80px; font-size:16px;">Daily Distribution per Supplier per SKU</a>
            </div>
            <div class="col-md-3">
                <a href="#" type="button" class="btn btn-block btn-lg btn-default waves-effect" style="word-wrap:break-word; white-space:normal; height:80px; font-size:16px;">Sales Summary per Supplier per Channel per Customer</a>
            </div>
            <div class="col-md-3">
                <a href="Reports/InvoiceRegisterperSalesman" type="button" class="btn btn-block btn-lg btn-default waves-effect" style="word-wrap:break-word; white-space:normal; height:80px; font-size:16px;">Invoice Register Report per Salesman</a>
            </div>
            <div class="col-md-3">
                <a href="#" type="button" class="btn btn-block btn-lg btn-default waves-effect" style="word-wrap:break-word; white-space:normal; height:80px; font-size:16px;">Monitoring of Free Goods</a>
            </div>
        </div>
        <div class="block-header align-center">
            <h1>Sales Analysis Report</h1>
        </div>
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-3">
                <a href="#" type="button" class="btn btn-block btn-lg btn-default waves-effect" style="word-wrap:break-word; white-space:normal; height:80px; font-size:16px;">Buying and Non Buying Account per Town</a>
            </div>
            <div class="col-md-3">
                <a href="#" type="button" class="btn btn-block btn-lg btn-default waves-effect" style="word-wrap:break-word; white-space:normal; height:80px; font-size:16px;">Buying and Non Buying Account per Salesman</a>
            </div>
            <div class="col-md-3">
                <a href="#" type="button" class="btn btn-block btn-lg btn-default waves-effect" style="word-wrap:break-word; white-space:normal; height:80px; font-size:16px;">List of Non Buying Account per Salesman</a>
            </div>
            <div class="col-md-3">
                <a href="#" type="button" class="btn btn-block btn-lg btn-default waves-effect" style="word-wrap:break-word; white-space:normal; height:80px; font-size:16px;">Sales vs Target per Salesman</a>
            </div>
        </div>
    </div>
